<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/leaderboards.css') }}"
  />

</head>


<link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/popup.css') }}"
    />
  </head>

  <script src="{{ url_for('static', filename='scripts/popup.js') }}"></script>

  <div class="popup" id="popup-container" style="display: block;">
    <!-- Top section: Match in progress -->
    <div class="top-section">
      <span id="popup-message">Match in progress!</span>
    </div>
  
    <!-- Middle section: Team names -->
    <div class="middle-section">
      <div class="team-names">
        <span id="team-left">pkqk</span>
        <span id="vs">VS</span>
        <span id="team-right">Prince-chan</span>
      </div>
    </div>
  
    <!-- Bottom section: Hyperlink and countdown -->
    <div class="bottom-section">
      <a href="#" id="spectate-link"></a>
      <span id="popup-countdown">5</span>
    </div>
  </div>




<body>

        <div class="background-image"></div>

    <div class="gradient-overlay"></div>
    <div class="leaderboard-container">
        <button id="home">Home</button>
        <h1>Dogfight Club Leaderboard</h1>

        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>MMR</th>
                    <th>Win Rate</th>
                </tr>
            </thead>
            

            <table id="mmrTable">
              <tbody>
                {% for name, value in my_dict.items() %}
                <tr class="slide-up-fade-in">
                  <td>{{ loop.index }}</td>
                  <td>
                    <div class="avatar-name">
                      <img src="{{ value[2] }}" alt="Avatar" id="avatar" onerror="this.src='https://my.catgirls.forsale/QukeB047.png'">
                      <a href="/stats/{{ name }}">{{ name }}</a>
                    </div>
                  </td>
                  <td class="mmr-value">{{ value[0] }}</td>
                  <td>{{ value[1] }}%</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
              
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts/leaderboards.js') }}"></script>
    
</body>
</html>