<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/entry.css') }}">
</head>
<body>
    <div class="topper">
        <button class="btn btn-secondary" onclick="goBack()">Back</button>
    </div>
    <div class="container">
        <h1>Login Page</h1>
        <form id="registrationForm" method="post">
            <label for="nickname">Password:</label>
            <input type="text" id="password" name="password" placeholder="Enter your password" required>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    
    <script>
        function goBack() {
            window.location.href = "entry";
        }
    </script>
</body>
</html>
