<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameStats - Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <div class="gradient-overlay"></div>
  <header>
    <div class="login-container">
        <button class="login-button" id="login">Log In</button>
        <button class="register-button" id="register">Register</button>
      </div>
      <div class="topWrap">
        <div class="background-wrap">
    <h1>Welcome to Dogfight Club</h1>
    <nav>
      <ul>
        <li><a href="/" id="login">Entry</a></li>
        <li><a href="#">Stats</a></li>
        <li><a href="#">Matches</a></li>
        <li><a href="#">Leaderboards</a></li>
      </ul>
    </nav>
    </div>
</div>
  </header>
  <main>
    <div class="container">
      <section>
        <h2>About GameStats</h2>
        <p>
          GameStats is an online platform for competitive dogfighting. We provide detailed statistics, match history, and leaderboards to help you track your progress and compare your performance with others.
        </p>
        <p>
          Join our community of passionate gamers and take your dogfighting skills to the next level!
        </p>
      </section>
      <section>
        <h2>Latest News</h2>
        <article>
          <h3>New Features Added</h3>
          <p>
            **Staff to add**
          </p>
          <p>

          </p>
        </article>
      </section>
      <section>
        <h2>Upcoming Scrims</h2>
        <article>
          <h3>SCRIMS</h3>
          <p>
            Get ready for the most thrilling dogfighting of vrhcat! The Scrim will bring together the best pilots from around vrchat to compete for the ultimate glory.
          </p>
          <p>
            Are you up for the challenge? Don't miss your chance to register and showcase your skills!
          </p>
          <p class="read-more"><a href="#">todo</a></p>
        </article>
      </section>
    </div>
  </main>
  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>
