<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameStats - Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
  <div id="login-message" class="hidden">
    <p>Please log in or Register to see your private stats</p>
  </div>
    <div class="gradient-overlay"></div>
  <header>
    <div class="login-container">
      <button class="login-button" id="login">Log In</button>
      <button class="register-button" id="register">Register</button>
    </div>
      <div class="topWrap">
        <div class="background-wrap">
    <h1>Welcome to Dogfight Club</h1>
    <nav>
      <ul>
        <li><a href="/" id="login">Entry</a></li>
        <li><a href="#" onclick="showLoginMessage()">Stats</a></li>
        <li><a href="#">Matches</a></li>
        <li><a href="#" id="leaderboards">Leaderboards</a></li>
      </ul>
    </nav>
    </div>
</div>
  </header>
  <main>
    <div class="container">
      <section>
        <h2>About Dogfight Club</h2>
        <p>
          Dogfight club is an exclusive hub for competitive dogfighting and learning BFM amongst the best pilots in VRC aviation.
        </p>
        <p>
          Join our community of passionate pilots and take your dogfighting skills to the next level!
        </p>
      </section>
      <section>
        <h2>Info</h2>
        <article>
          <!-- <h3>Scrims</h3> -->
          <p>
            Private ranked/unranked lobbies for scrims will be hosted regularly, link to the instance and ping will be sent in the server.
          </p>
          <p>Feel free to join instance by clicking the link in the scrim-ping channel whenever available.</p>
          <p>

          </p>
        </article>
      </section>
      <section>
        <article>
          <h3>RULES</h3>
          <p>1. You don't talk about the dogfight club.</p>
          <p>2. YOU DO NOT TALK ABOUT THE DOGFIGHT CLUB.</p>
          <p>3. Negotiate terms of the dogfight beforehand.</p>
          <p>4. You do not interfere with an ongoing fight.</p>
          <p>5. You do not forfeit or abandon the fight.</p>
          <p>6. You do not throw excuses for losing.</p>
          <p>7. You back up your words with equivalent actions.</p>
          <p>8. If this is your first night at dogfight club you have to fight.</p>
        </article>
      </section>
    </div>
  </main>

  <footer>
    <div class="footer-links">
      <a href="https://discord.gg/k3n6jhmjcg">Discord</a>
      <a href="https://docs.google.com/spreadsheets/d/12P7ayv29VJmKmgqIAlDKqGHmMhLWoqV6K6jNkqMaeJI/edit?usp=sharing">Google Sheets</a>
    </div>
    <p class="footer-text">© 2023 Dogfight Club. No rights reserved.</p>
  </footer>

  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>
