<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="list" id="list">
        <div class="search-container">
          <input type="text" autocomplete="off" id="searchInput" placeholder="Search names..." />
        </div>
        <h2>List</h2>
        <ul id="nameList">
          {% for name in list %}
          <li class="list-item" draggable="true" ondragstart="drag(event)">
            {{ name }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="rightSide" id="rightSide">
        <img class="vs" id=vsImg src="https://static.vecteezy.com/system/resources/thumbnails/007/166/964/small/versus-or-vs-logo-design-template-vector.jpg" alt="VS">
        <div id="confirmationModal" class="modal">
            <div class="modal-content">
              <h2>Confirmation</h2>
              <p>Are you sure you want to submit?</p>
              <div class="modal-buttons">
                <button id="confirmYes">Yes</button>
                <button id="confirmNo">No</button>
              </div>
            </div>
          </div>
        <div class="field-container" id="field-container">
          <div
            class="field"
            id="field1"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2>Player Left</h2>
            <div class="player-info">
              <p id="playerLeftInfo"></p>
            </div>
            <div class="button-container">
              <button class="clear-button" id="clearButton1">Clear</button>
            </div>
          </div>

          <div
            class="field"
            id="field2"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2>Player Right</h2>
            <div class="player-info">
              <p id="playerRightInfo"></p>
            </div>
            <div class="button-container">
              <button class="clear-button" id="clearButton2">Clear</button>
            </div>
          </div>
        </div>

        <div class="button-container">
          <button class="my-button" id="cancelButton">Cancel</button>
          <a href="#" class="my-button" id="submitButton" draggable="false">Pair</a>
          <button class="clear-button-all" id="clearButtonALL">Clear ALL</button>
        </div>

        <div id="error-message" class="error-message"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
</html>
