<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/socket.io/socket.io.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>Matchmaking</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/match.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main_logged.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
  </head>
  <body>
    <div id="myModal" class="modal">
      <div class="modal-content-pool modal-content">
        <button class="close close-button" onclick="closeModal2()">
          <img src="/static/icons/times.svg" />
        </button>
        <div class="list matchmaking-list-items" id="list">
          <div class="search-container">
            <input
              class="searchBar auth-input"
              type="text"
              autocomplete="off"
              id="searchInput"
              placeholder="Search names..."
            />
          </div>
          <h2>The Deadpool</h2>
          <ul id="nameList">
            {% for name, value in my_dict.items() %}
            <li class="matchmaking-list-item">
              <input type="checkbox" class="checkmark" data-name="{{ name }}" />
              {{ name }}
              <span id="flag_{{ name }}">({{ value[0] }})</span>
              <span id="flag_{{ name }}">({{ value[1] }}%)</span>
              
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="added">
          <h2>Custom Pool Container</h2>
          <ul id="selectedNamesList"></ul>
        </div>
      </div>
    </div>

    <div id="modal2" class="modal2 modal">
      <div class="modal-content2 modal-content">
        <h2>Add a user</h2>
        <button class="close-button" onclick="closeModal2()">
          <img src="/static/icons/times.svg" />
        </button>
        <p>Write the username lower and click Submit</p>
        <p></p>
        <input
          type="text"
          id="usernameInput"
          class="auth-input add-input"
          placeholder="Enter username..."
        />
        <button class="primary-button" onclick="addUsername()">Submit</button>

        <div class="confirmField" id="confirmField"></div>

        <div class="confirm-buttons">
          <button
            class="add2 primary-button"
            onclick="confirmUsername()"
            style="display: none"
          >
            Confirm
          </button>
          <button
            class="cancel2 top-container-btn"
            onclick="cancelConfirmation()"
            style="display: none"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>

    <div id="confirmationModal" class="modal">
      <div class="modal-content">
        <h2>Confirmation</h2>
        <p>Are you sure you want to submit?</p>
        <div class="modal-buttons">
          <button id="confirmYes">Yes</button>

          <button id="confirmNo">No</button>
        </div>
      </div>
    </div>
    <div class="sidebar-container">
      <div class="profile-data">
        <img class="profile-pic" src="/static/pics/profile-pic.svg" />
        <p class="profile-username">{{ username }}</p>
        <span class="profile-mmr" style="color: #f90162; font-weight: 600"
          >{{mod}}</span
        >
        <span class="profile-mmr" style="color:#F90162; font-weight: 600;">MOD ACCOUNT</span>
        <span class="profile-mmr">({{mmr}})</span>
      </div>

      <nav class="navigaton-container">
        <button class="navigation-item" id="main">
          <img src="/static/icons/home.svg" /> Home
        </button>
        <button class="navigation-item" id="matchmaking">
          <img src="/static/icons/matchmaking.svg" /> Matchmaking
        </button>
        <button class="navigation-item" id="stats">
          <img src="/static/icons/stats.svg" /> Statistics
        </button>
        <button class="navigation-item" id="matches">
          <img src="/static/icons/matches.svg" /> Matches
        </button>
        <button class="navigation-item" id="leaderboards">
          <img src="/static/icons/leaderboard.svg" /> Leaderboard
        </button>
      </nav>

      <button class="navigation-item" id="logout">
        <img src="/static/icons/signout.svg" /> Sign Out
      </button>
    </div>

    <div class="page-container">
      <div class="page-heading">
        <img src="/static/icons/plane-heading.png" />
        <h2>Matchmaking</h2>
      </div>

      <div id="bottom-container" class="bottom-container">
        <button class="top-container-btn" onclick="openModal2()">
          <img src="/static/icons/user-plus.svg" /> Register User
        </button>
        <button id="customPoolBtn" class="top-container-btn">
          <img src="/static/icons/abacus.svg" /> Custom Pool
        </button>
        <button
          id="refreshButton"
          onclick="refreshButtonClick()"
          class="top-container-btn"
        >
          <img src="/static/icons/sync.svg" /> Manual Sync
        </button>
      </div>

      <div class="page-cards">
        <div class="page-card" id="list">
          <h3>Participants</h3>
          <button onclick="openModal2()" class="matchmaking-btn-add">+</button>
          <div class="list matchmaking-list-items" id="list">
            <div class="search-container">
              <input
                class="searchBar auth-input"
                type="text"
                autocomplete="off"
                id="searchInput"
                placeholder="Search names..."
              />
            </div>
            <ul id="nameList">
              {% for name, value in my_dict.items() %}
              <li class="matchmaking-list-item" draggable="true">
                {{ name }}
                <span id="flag_{{ name }}">({{ value[0] }})</span>
                <span id="flag_{{ name }}">({{ value[1] }}%)</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="page-cards-column">
          <div class="rightSide page-card" id="rightSide">
            <div class="field-container d" id="field-container">
              <div
                class="field"
                id="field1"
                ondrop="drop(event)"
                ondragover="allowDrop(event)"
              >
                <h2>Player Left</h2>
                <span class="field-icon">
                  <img src="/static/icons/add.svg" />
                </span>
                <div class="player-info">
                  <p id="playerLeftInfo"></p>
                </div>
                <div class="button-container">
                  <button class="clear-button" id="clearButton1">
                    <img src="/static/icons/times.svg" />
                  </button>
                </div>
              </div>

              <div
                class="field"
                id="field2"
                ondrop="drop(event)"
                ondragover="allowDrop(event)"
              >
                <h2>Player Right</h2>
                <span class="field-icon">
                  <img src="/static/icons/add.svg" />
                </span>
                <div class="player-info">
                  <p id="playerRightInfo"></p>
                </div>
                <div class="button-container">
                  <button class="clear-button" id="clearButton2">
                    <img src="/static/icons/times.svg" />
                  </button>
                </div>
              </div>
            </div>

            <div class="match-button-container">
              <button
                class="my-button matchmaking-btn-secondary"
                id="cancelButton"
              >
                Cancel
              </button>

              <button class="random matchmaking-btn-secondary">
                Random Match
              </button>
              <a
                class="matchmaking-btn-primary"
                id="submitButton"
                draggable="false"
                >Start</a
              >
              <button class="auto matchmaking-btn-secondary">Auto Match</button>
            </div>
            <button
              class="clear-button-all matchmaking-btn-secondary"
              id="clearButtonALL"
            >
              Clear all
            </button>




            <div class="matchmaking-bottom">
              <div class="matchmaking-prob">Win Probability</div>

              <div class="gauge-label1"><span id="leftGaugeValue"></span></div>
              <div class="gauge-label2"><span id="rightGaugeValue"></span></div>

              <div class="gauge-container">
                <div class="gauge">
                  <div class="fill" id="fill1">
                    <div id="leftGauge" class="gauge-label gauge-label1"></div>
                  </div>
                  <div class="fill" id="fill2">
                    <div id="rightGauge" class="gauge-label gauge-label2"></div>
                  </div>
                </div>
              </div>
            </div>
            

            

            <div id="error-message" class="error-message"></div>
          </div>

          <div class="page-card">
            <h3>Match settings</h3>
            <div class="select-wrapper">
              <div class="beforeSelect">Select which jet is fighting</div>
              <div class="select-field-container">
                <img class="select-icon" src="/static/icons/angle-down.svg" />
                <select id="image-select">
                  <option value="image1.jpg" data-image="/static/pics/f-14.svg">
                    F-14
                  </option>
                  <option value="image2.jpg" data-image="/static/pics/f-14.svg">
                    F-18
                  </option>
                  <option
                    value="image3.jpg"
                    data-image="/static/pics/ja-37.svg"
                  >
                    Viggen
                  </option>
                  <option
                    value="image4.jpg"
                    data-image="/static/pics/eurofighter.svg"
                  >
                    Eurofighter
                  </option>
                  <option
                    value="image5.jpg"
                    data-image="/static/pics/mig-29.svg"
                  >
                    Mig-29
                  </option>
                </select>
                <div class="image-container">
                  <img
                    id="selected-image"
                    class="selected-image"
                    alt="Selected Jet"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/flagLogic.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"
  ></script>
</html>
