<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>Matchmaking</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="background-image"></div>
    <div class="container">
      <div class="list" id="list">
        <div class="search-container">
          <input
            type="text"
            autocomplete="off"
            id="searchInput"
            placeholder="Search names..."
          />
        </div>
        <h2>The Deadpool</h2>
        <ul id="nameList">
          {% for name in list %}
          <li class="list-item" draggable="true" ondragstart="drag(event)">
            {{ name }}
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="rightSide" id="rightSide">
        <!-- <img
          class="vs"
          id="vsImg"
          src="https://static.vecteezy.com/system/resources/thumbnails/007/166/964/small/versus-or-vs-logo-design-template-vector.jpg"
          alt="VS"
        /> -->
        <div id="confirmationModal" class="modal">
          <div class="modal-content">
            <h2>Confirmation</h2>
            <p>Are you sure you want to submit?</p>
            <div class="modal-buttons">
              <button id="confirmYes">Yes</button>

              <button id="confirmNo">No</button>
            </div>
          </div>
        </div>
        <div class="field-container" id="field-container">
          <div
            class="field"
            id="field1"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2>Player Left</h2>
            <div class="player-info">
              <p id="playerLeftInfo"></p>
            </div>
            <div class="button-container">
              <button class="clear-button" id="clearButton1">Clear</button>
            </div>
          </div>

          <div
            class="field"
            id="field2"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            <h2>Player Right</h2>
            <div class="player-info">
              <p id="playerRightInfo"></p>
            </div>
            <div class="button-container">
              <button class="clear-button" id="clearButton2">Clear</button>
            </div>
          </div>
        </div>

        <!-- MATCH AREA DISPLAY -->

        <!-- <div class="match-container" id="match-container">
          <div class="player">
            <div class="player-image">
              <img
                class="vs-image"
                id="1vsImg"
                src=""
                alt="VS"
              />
            </div>
            <div class="player-info">
              <h3 id="playerName1"></h3>
              <div class="rating1" id="test"></div>
              <div class="additionalNumber1"></div>
            </div>
          </div>
          <div class="player">
            <div class="player-image">
              <img
                class="vs-image"
                id="2vsImg"
                src=""
                alt="VS"
              />
            </div>
            <div class="player-info">
              <h3 id="playerName2"></h3>
              <div class="rating2"></div>
              <div class="additionalNumber2"></div>
            </div>
          </div>
        </div> -->

        <!-- MATCH AREA DISPLAY -->

        <div class="button-container">
          <button class="my-button" id="cancelButton">Cancel</button>
          <a href="#" class="my-button" id="submitButton" draggable="false"
            >Pair</a
          >
          <button class="clear-button-all" id="clearButtonALL">
            Clear ALL
          </button>
        </div>

        <div id="error-message" class="error-message"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"
  ></script>
</html>
