<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="cache-control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <title>Match</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/match.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/main_logged.css') }}"
    />
  </head>
<div>
  <div>username Left: {{leftNAME}}</div>
  <div>MMR Left: {{leftMMR}}</div>
  <div>winrate Left: {{leftWINRATE}}</div>


  <div>username RIght: {{rightNAME}}</div>
  <div>MMR Right: {{rightMMR}}</div>
  <div>winrate Right: {{rightWINRATE}}</div>
  <div></div>
</div>
  <body>
    <div class="match-page-container">
      <div class="containerTimer">
        <p class="match-duration" class="hidden">
          Match Duration: <span id="match-duration">00:00:00</span>
        </p>
      </div>

      <div class="match-container" id="match-container">
        <div class="player">
          <div class="player-image">
            <img class="vs-image" id="1vsImg" src="" alt="Avatar" />
          </div>

          <div class="player-info">
            <div class="boxName">
              <h3 id="playerName1">{{ leftNAME }}</h3>
            </div>
            <div class="rating1">({{ leftMMR }})</div>
            <div class="additionalNumber1 player-info-field">
              <p>Winrate:</p>
              <span>{{ leftWINRATE }}</span>
            </div>
            <div style="margin-top: 35px" class="newMMRwin1 player-info-field">
              <p>win case:</p>
            </div>
            <div class="newMMRlose1 player-info-field"><p>lose case:</p></div>

            <button class="leftButton primary-button" id="leftButton">
              WON
            </button>
          </div>
        </div>
        <div class="player">
          <div class="player-image">
            <img class="avatar-image" id="2vsImg" src="" alt="Avatar" />
          </div>
          <div class="player-info">
            <div class="boxName">
              <h3 id="playerName2">{{ rightNAME }}</h3>
            </div>
            <div class="rating2">({{ rightMMR }})</div>
            <div class="additionalNumber2 player-info-field">
              <p>Winrate:</p>
              <span>{{ rightWINRATE }}</span>
            </div>
            <div style="margin-top: 35px" class="newMMRwin2 player-info-field">
              <p>win case:</p>
            </div>
            <div class="newMMRlose2 player-info-field"><p>lose case:</p></div>
            <button class="rightButton primary-button" id="rightButton">
              WON
            </button>
          </div>
        </div>
      </div>

      <div class="bottomPart">
        <div class="button-container">
          <button class="toMaking top-container-btn" id="toMaking">
            Cancel
          </button>
        </div>

        <div id="error-message" class="error-message"></div>

        <script src="{{ url_for('static', filename='scripts/match.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
      </div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.7.0.js"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"
  ></script>
</html>
