<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/register.css') }}">
</head>
<body>
    <div class="buttonContainer">
        <button id="homeBtn" class="home">Home</button>
</div>
    <div class="topper">
        <button class="btn btn-secondary" onclick="goBack()">Back</button>
    </div>
    <div class="container">
        <h1>Registration Page</h1>
        <form id="registrationForm" method="post">
            <label for="nickname">Nickname:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    
    <script>
        function goBack() {
            window.location.href = "/";
        }
    </script>
    <script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
</body>
</html>
