<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameStats - Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/registerLeaderboard.css') }}">
</head>
<body>

  <div class="message">You Need To Be Registered On The Leaderboard To See Your Profile,<br> Please Ask Staff To Be In
    <button class="goBack" onclick="redirectToPreviousPage()">Go Back</button>
  </div>
  
  

  <div class="blur">
  <div id="login-message" class="hidden">
    <p>Please log in or Register to see your private stats</p>
  </div>
    <div class="gradient-overlay"></div>
  <header>
    <div class="login-container">
      
    </div>
      <div class="topWrap">
        <div class="background-wrap">
    <h1>Welcome to Dogfight Club</h1>
    <nav>
      <ul>
        
      </ul>
    </nav>
    </div>
  </div>
  </header>
  <main>
    <div class="container">
      <section>
        <h2>About Dogfight Club</h2>
        <p>
          Dogfight club is an exclusive hub for competitive dogfighting and learning BFM amongst the best pilots in VRC aviation.
        </p>
        <p>
          Join our community of passionate pilots and take your dogfighting skills to the next level!
        </p>
      </section>
      <section>
        <h2>Info</h2>
        <article>
          <!-- <h3>Scrims</h3> -->
          <p>
            Private ranked/unranked lobbies for scrims will be hosted regularly, link to the instance and ping will be sent in the server.
          </p>
          <p>Feel free to join instance by clicking the link in the scrim-ping channel whenever available.</p>
          <p>

          </p>
        </article>
      </section>
      <section>
        <h2>Upcoming Scrims</h2>
        <article>
          <h3>SCRIMS</h3>
          <p>
            Get ready for the most thrilling dogfighting of vrchat! The Scrim will bring together the best pilots from around vrchat to compete for the ultimate glory.
          </p>
          <p>
            All skill levels are welcomed, sportsmanship is encouraged. DM @r3aper#0013 to become a member.
          </p>
          <p class="read-more"><a href="#">Learn todo</a></p>
        </article>
      </section>
    </div>
  </main>
</div>
  <script src="{{ url_for('static', filename='scripts/registerLeaderboard.js') }}"></script>
</body>
</html>
