<!DOCTYPE html>
<html>
<head>
  <title>Private Account Stats</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stats.css') }}">
</head>
<body>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <button id="home">Home</button>
  <button onclick="goBack()" id="back">Back</button>
    <div class="top-block">
        <div class="mainInfo">
            <div class="profile-picture"><img src={{ avatar_url }} alt="Avatar"></div>
            <h2 class="nickname">{{ name }}</h2>
        </div>
        <div class="profile-info">
          <p>Last Match: <span class="last-match-value">{{ lastMatch[5].split(' ')[0] }}</span></p>
            <p>Wins: <span class="wins-value">{{wins}}</span></p>
            <p>Losses: <span class="losses-value">{{losses}}</span></p>
            <p>Mmr: <span class="mmr-value">{{mmr}}</span></p>
            <p>Win Rate: <span class="win-rate-value">77%</span></p>
        </div>
    </div>
      
    <main>
      <div id="calendarData">{{ games_per_day }}</div>
        <div class="container">

          
            <div class="left-container">
              <div></div>



              <div class="match-history-container">
                <h2>Match History</h2>
                <div class="start">(starts from 2023-05-23)</div>
                <table>
                  <thead>
                    <tr>
                      <th>Plane</th>
                      <th>Result</th>
                      <th>Duration</th>
                      <th>MMR Shift</th>
                      <th>Date</th>
                    </tr>
                  </thead>



                  
                  <tbody>
                    {% for match in history|reverse %}
                      <tr>
                        <td class="plane-type">f-14</td>
                        <td class="result {% if match[3].split()[0] == name %}win{% else %}loss{% endif %}">
                          {% if match[3].split()[0] == name %}Won Match{% else %}Lost Match{% endif %}
                        </td>
                        <td class="duration">{{ match[6] // 60 }}:{{ "%02d" % (match[6] % 60) }}</td>
                        <td class="mmr-shift {% if match[3].split()[0] == name %}positive{% else %}negative{% endif %}">
                          {% if match[3].split()[0] == name %}+{{ match[7] }}{% else %}-{{ match[7] }}{% endif %}
                        </td>
                        <td class="date">{{ match[5] }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>








                </table>
              </div>
              
              
              
              
                <!-- Left container content here -->
            </div>




            <div class="right-container">
              <div></div>
              <div class="calendar">

                <div class="weekdays">
  
                </div>
                <div class="days">
                  <h1></h1>
    
    <div id="calendar"></div>
                  <!-- Calendar days dynamically generated here -->
                </div>
              </div>
            </div>


            
      
            
        </div>
    </main>
    <script src="{{ url_for('static', filename='scripts/stats.js') }}"></script>
</body>
</html>
