<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/entry.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login Page</h1>
        <button id="loginBtn" class="btn btn-primary">Login</button>
        <button id="registerBtn" class="btn btn-secondary">Register</button>
        <h1>{{dyn}}</h1>
    </div>
</body>
</html>
