/* Reset default browser styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #222;
  color: #fff;
  padding: 0 20px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.sidebar-heading {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}
.sidebar-heading h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
}
.sidebar-heading p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
}

.primary-button {
  background: #f90162;
  border-radius: 8px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ffffff;
  padding: 8px 25px;
  border: none;
  transition: all 0.1s;
}

.primary-button:hover {
  background: #bd0048;
  cursor: pointer;
}

.secondary-button {
  border: 1px solid #b9aeb3;
  border-radius: 8px;
  background: none;

  font-style: normal;
  font-weight: 500;
  padding: 6px 25px;
  font-size: 16px;

  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  transition: all 0.1s;
}

.secondary-button:hover {
  color: #000000;
  background: #b9aeb3;
  cursor: pointer;
}

#isolated-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


/* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Style the modal content */
.scrim-modal-content {
  background-color: #4e4e4e;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  animation: fade-in 0.3s ease;
}

/* Style the modal title */
.scrim-title {
  color: #f3c4dd;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

/* Style the modal label */
.scrim-label {
  color: #f3c4dd;
  font-size: 18px;
}

/* Style the modal input */
.scrim-input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid #f3c4dd;
  border-radius: 8px;
  color: #f3c4dd;
  background-color: #4e4e4e;
}

/* Style the modal buttons */
.scrim-button {
  padding: 12px 24px;
  margin: 10px 5px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #ff75a0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scrim-button:hover {
  background-color: #f95784;
}

/* Animation to fade in the modal */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





/* Styling for the scrims list */
.scrims-list {
  list-style: none;
  padding: 0;
}

/* Styling for each scrim item */
.scrims-item {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(51, 51, 51, 0.3);
  color: #fff;
  width: 350px;

  /* Apply a blur effect to the area behind the element */
  backdrop-filter: blur(0); /* Start with no blur */
  transition: backdrop-filter 0.3s ease; /* Add a transition for the backdrop-filter */

  /* Add a subtle shadow to create the blurred edge effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease; /* Add a transition for the box-shadow */
}

.scrims-item:hover {
  /* Apply the desired blur when hovering */
  backdrop-filter: blur(100px); /* Adjust the value for the desired level of blur */

  /* Modify the shadow on hover for a more pronounced effect */
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}


/* Styling for the scrim date */
.scrim-date {
  font-size: 10px;
  font-weight: bold;
  color: #a52062;
}

/* Styling for the scrim timestamp */
.scrim-timestamp {
  font-size: 10px;
  color: #6b1349;
}

/* Styling for the scrim countdown */
.scrim-countdown {
  font-size: 18px;
  font-weight: bold;
  color: #cecece;
}

.remove-button {
  
  background-color: rgba(87, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.438);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.remove-button:hover {
  background-color: #330000;

}

.remove-button:focus {
  outline: none;
}
