@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: url("../pics/VRCGroupBanner.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  width: 100vw;

  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0px 1514px 16px 1061px rgba(0, 0, 0, 0.85);
  overflow: hidden;

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 0; /* Set initial opacity to 0 */
  position: relative; /* Set position to relative for animation */
  animation: fadeAndMove 0.5s ease forwards; /* Apply animation */
  background-color: #000000;
}

.sidebar-container {
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
}

.profile-pic {
  width: 80px;
  height: 80px;
}

.profile-username {
  color: #d1c5cb;
  margin-top: 10px;
}

.profile-mmr {
  color: #d1c5cb;
}

.navigaton-container {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.navigation-item {
  display: flex;
  align-items: center;
  grid-gap: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #d1c5cb;
  font-weight: 500;
  background: none;
  border-radius: 60px;
  padding: 11px 28px;
  transition: all 0.1s;
  border: none;
  outline: none;
  position: relative;
}

.navigation-item::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background: rgba(254, 156, 196, 0.2);
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 60px;
  left: 0px;
}

.navigation-item:hover::after {
  width: 80%;
  background: rgba(254, 156, 196, 0.2);
  cursor: pointer;
}

.page-container {
  width: 84%;
  height: 100%;
  background: rgba(15, 3, 9, 0.6);
  border-radius: 60px 0 0 60px;

  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  padding: 40px;
}

.page-heading {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.page-cards-column {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.page-card-info-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}
.page-card-info-button::after {
  background: rgba(207, 199, 202, 0.452);
  color: #000000;
  position: absolute;
  content: "Get ready for the most thrilling dogfighting of vrchat! The Scrim will bring together the best pilots from around vrchat to compete for the ultimate glory. Are you up for the challenge? Don't miss your chance to register and showcase your skills!";
  width: 400px;
  z-index: -1;
  height: fit-content;
  opacity: 0;
  right: -200px;
  padding: 15px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.4s;
  top: 30px;
}

.page-card-info-button:hover::after {
  opacity: 1;
  z-index: 1;
}

.page-card-content {
  width: 100%;
  height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #d1c5cbb7;
}

.page-heading h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;

  color: #d1c5cb;
}

.page-cards {
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  grid-gap: 20px;
}

.page-card {
  width: fit-content;
  min-width: 400px;
  height: fit-content;
  flex-wrap: wrap;
  position: relative;

  background: radial-gradient(
        80.01% 60.18% at 89.51% 83.9%,
        rgba(15, 12, 13, 0.8) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        22.75% 24.91% at 3.86% 7.67%,
        rgba(250, 1, 103, 0.03) 0%,
        rgba(0, 0, 0, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    rgba(29, 19, 24, 0.51);
  border-radius: 30px;
  padding: 30px;
}

.page-card h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  color: #ffffff;
  display: flex;
  align-items: center;
}

.page-card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #d1c5cb;
  max-width: 700px;
  margin-top: 15px;
  margin-bottom: 20px;
}

main {
  opacity: 0; /* Set initial opacity to 0 */
  position: relative; /* Set position to relative for animation */
  bottom: -40px; /* Set initial position below its actual position */
  animation: fadeAndMove 1.5s ease forwards; /* Apply animation */
}

@keyframes fadeAndMove {
  0% {
    opacity: 0;
    bottom: -20px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.profile-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  font-size: 14px;
}

#jet {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: rgb(34, 30, 30);
  color: rgb(197, 197, 197);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fade 2s ease-in-out infinite alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
