html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}





.message {

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #66112d;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    color: #d4d4d4;
    margin-bottom: 20px;
    z-index: 10;


  }
  .blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust the opacity as per your preference */
    backdrop-filter: blur(10px); /* Adjust the blur radius as per your preference */
    z-index: 1;
  }
  
  .goBack {
    display: block;
    margin: 20px auto 0; /* Add margin and set auto for horizontal centering */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #FF4081;
    color: #6b3b4e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  
  
  .goBack:hover {
    background-color: #ddc1cc;
    color: #FF4081;
  }
  
  .goBack:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FF4081;
  }
  
  .goBack:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  