body {
  font-family: Arial, sans-serif;
  background-color: #a3a3a3;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.list {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.list h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: grab;
}

li:hover {
  background-color: #ececec;
}

.field {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.vs{
  position:absolute;
  top: 10%;
  left: 39.5%;
  z-index: -1;
  user-select: none; /* Disable selection */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari and Chrome */
  -ms-user-select: none; /* Internet Explorer/Edge */
  display:block;
}

.field h2 {
  margin-top: 0;
}

.field p {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #555;
  text-align: center;
}

.field p.empty {
  color: #999;
}

.field:hover {
  background-color: #f9f9f9;
}

.field.dragover {
  background-color: #f5f5f5;
}

.field-container {
  display: flex;
  gap: 200px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.my-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.1s ease;
  text-decoration: none; /* Set text-decoration to none */
}

.my-button:hover {
  background-color: #45a049;
}

.my-button:active {
  background-color: #3e8e41;
}


.rightSide {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: sticky;
  top: 0;
}


.search-container {
  margin-bottom: 20px;
}

#searchInput {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10px;
  padding: 10px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  animation: slideIn 0.2s forwards;
  position: absolute;
  top: 22.5%; /* Adjust top position */
  left: 59%; /* Adjust left position */
}



@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
}

.modal-buttons button:first-child {
  margin-left: 0;
}

.list-hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.match-container {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.match-container p {
  font-size: 24px;
}
#cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f9f9f9;
  color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none;
}
.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.error-message.show {
  opacity: 1;
  transform: translateY(0);
}
.clear-button {
  padding: 6px 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: #585858;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.clear-button:hover {
  background-color: #b1b1b1;
}
.clear-button-all{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: #810707;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 30px; /* Adjust the value as per your requirement */
}
.clear-button-all:hover {
  background-color: #b1b1b1;
}
.dragged-item {

  background-color: #ffcc00;
  color: #333;
  border: 2px solid #ffcc00;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 30px !important;
  margin-top: 20px !important;
}

.match-container {
  display: flex;
  display: none;
}

.player {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
}

.player-info {
  text-align: center;
  margin-top: auto;
}

.player-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #ccc;
}

h3 {
  margin: 0;
}

.rating,
.additional-number {
  margin-top: 10px;
}
