@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
  background-color: #000000;
  margin: 0;
  padding: 100px;
}

.gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 85, 0.1),
    rgba(255, 0, 0, 0)
  );
  z-index: -1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.95;
}

.list-item {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: red; */
  transition: transform 0.5s ease-in-out;
  outline: 2px solid #aa3d73;
  /* text-shadow: -1px -1px 0 rgb(214, 186, 198), 1px -1px 0 rgb(214, 186, 198), -1px 1px 0 rgb(214, 186, 198), 1px 1px 0 rgb(214, 186, 198); */
}

.list-item.dragging {
  opacity: 0.5;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("https://my.catgirls.forsale/xGXMv720.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-position: center; */
  /* background-position: center bottom -300px; */
  /* filter: blur(3px);
  transition: background-position 0.5s ease-out;
  transform: scale(1.2); */
}

.list {
  flex: 1;
  background-color: #575757;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  /* opacity: 0.5; */
  animation: fadeIn 1s forwards;
}

.list h2 {
  opacity: 1 !important;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #dd2179;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: -1px -1px 0 rgb(82, 82, 82), 1px -1px 0 rgb(82, 82, 82),
    -1px 1px 0 rgb(82, 82, 82), 1px 1px 0 rgb(82, 82, 82);
}

.list-container {
  display: flex;
}

ul {
  opacity: 1 !important;
  list-style-type: none;
  padding: 0;
}

li {
  opacity: 1 !important;
  padding: 10px;
  background-color: #a7a7a7;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: grab;
}

li:hover {
  background-color: #d8abbe;
}

.field {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  background-color: #a7a7a7;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: 2px solid #2b2b2b;
}

.vs {
  position: absolute;
  top: 10%;
  left: 37%;
  z-index: -1;
  user-select: none;
  /* Disable selection */
  -moz-user-select: none;
  /* Firefox */
  -webkit-user-select: none;
  /* Safari and Chrome */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  display: block;
}

.field h2 {
  margin-top: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.field p {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #c2c2c2;
  text-align: center;
}

.field p.empty {
  color: #999;
}

.field:hover {
  background-color: #b1b1b1;
}

.field.dragover {
  background-color: #d3d3d3;
}

.field-container {
  display: flex;
  gap: 200px;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.my-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.1s ease;
  text-decoration: none;
  /* Set text-decoration to none */
}

.my-button:hover {
  background-color: #45a049;
}

.my-button:active {
  background-color: #3e8e41;
}

.rightSide {
  flex: 1;
  background-color: #4b4b4b;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: sticky;
  top: 0;
  /* Add animation properties */
  animation-name: slideInn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0.95 !important;
}

@keyframes slideInn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-container {
  margin-bottom: 20px;
}

#searchInput {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10px;
  padding: 10px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  animation: slideIn 0.2s forwards;
  position: absolute;
  top: 38%;
  /* Adjust top position */
  left: 35%;
  /* Adjust left position */
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.modal-buttons {
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
}

.modal-buttons button:first-child {
  margin-left: 0;
}

.list-hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#fixed-container {
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 9999;
  display: flex;
  align-items: center;
  /* additional styles */
  /* background-color: #000000; */
}
#home {
  position: absolute;
  left: 600px;
}

#fixed-container p {
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  letter-spacing: 2px;
  animation-name: slideInn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#fixed-container button {
  background-color: #363636;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  animation-name: slideInn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#fixed-container button:hover {
  background-color: #181818;
}

.match-container {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.match-container p {
  font-size: 24px;
}

#cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #f9f9f9;
  color: #333;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.error-message.show {
  opacity: 1;
  transform: translateY(0);
}

.clear-button {
  padding: 6px 20px;
  font-size: 24px;
  font-weight: bold;
  background-color: #969696;
  color: #962d2d;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.1s ease;
  opacity: 1 !important;
}

.clear-button:hover {
  background-color: #b1b1b1;
}

.clear-button-all {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #c0c0c0;
  color: #810707;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 30px;
  /* Adjust the value as per your requirement */
}

.clear-button-all:hover {
  background-color: #b1b1b1;
}

.dragged-item {
  background-color: #b3cfec;
  border: 2px solid #bb2176;
  color: #979797 !important;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 30px !important;
  margin-top: 20px !important;
}
.dragged-item p {
  background-color: #b3cfec;
  color: #f12b98 !important;
  border-radius: 5px;
  font-size: 30px !important;
}

.match-container {
  display: none;
  justify-content: space-between;
}

/* Styles for player field */
.player {
  display: flex;
  align-items: center;
  background-color: #a0a0a0;
  padding: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  border-radius: 10px;
}

/* Styles for player image */
.player-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

/* Styles for player name */
.player h3 {
  margin: 0;
}

/* Styles for player rating and additional number */
.player-info div {
  margin-top: 5px;
}
.flag {
  float: right;
}

.gauge-container {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 40px;
  margin: 0 auto;
  border: 5px solid #383838;
  margin-top: 60px;
  position: relative;
  border-radius: 5px;
  opacity: 0.95;
}

.gauge {
  width: 0;
  /* Start with 0 width */
  height: 100%;
  background-color: #eee;
  position: relative;
  animation: fillGauge 1.5s ease-out forwards;
  /* Add animation */
}

@keyframes fillGauge {
  0% {
    width: 0;
    /* Start with 0 width */
  }

  100% {
    width: 100%;
    /* Animate to 100% width */
  }
}

.fill {
  height: 100%;
  position: absolute;
  top: 0;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

#fill1 {
  background-color: #3faa96;
  /* Set fill color for value 1 */
  z-index: 1;
  /* Added */
}

#fill2 {
  background-color: #f6d26b;
  /* Set fill color for value 2 */
  z-index: 2;
  /* Added */
}

.prob {
  position: absolute;
  text-align: center;
  color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Apply multiple shadows to create the outline */
  font-size: 20px;
}

.gauge-label {
  position: absolute;
  top: -35px;
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font: bold 16px Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  /* Apply multiple shadows to create the outline */
  transition: opacity 1s ease-in;
  /* Add transition for opacity */
  font-size: 25px;
  padding-bottom: 10px;
  margin-left: -45px;
}

.field1Winrate,
.field2Winrate {
  background-color: #b3cfec;
  color: #979797;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: 5px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  background-image: linear-gradient(45deg, transparent 50%, #ccc 50%),
    linear-gradient(135deg, #ccc 50%, transparent 50%);
  background-position: calc(100% - 20px) center, calc(100% - 15px) center;
  background-size: 5px 5px, 2px 2.5em;
  background-repeat: no-repeat;
  cursor: pointer;
}
.beforeSelect {
  color: #c0c0c0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin: 20px; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.select-wrapper select::-ms-expand {
  display: none;
}

.select-wrapper select option {
  padding: 10px;
  font-size: 16px;
}

.selected-image {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
}
.registerUser {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 700px;
}
.customPool {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 820px;
}
/* CSS to style the button */
.button2 {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

/* --------------------------------------------------------------------------- */

/* CSS for the modal */
.modal2 {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0; /* Adjust the top value as desired */
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling of the modal itself */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content2 {
  background-color: #a1a1a1;
  position: absolute;
  top: 40%; /* Position the modal 50% from the top */
  left: 50%; /* Position the modal 50% from the left */
  transform: translate(
    -50%,
    -50%
  ); /* Center the modal horizontally and vertically */
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.close-button {
  display: inline-block;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 8px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 20%;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #e0e0e0;
}

.modal-content2 input[type="text"] {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal-content2 .modal-button {
  background-color: #b18d8d;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content2 .modal-button:hover {
  background-color: #6a8661;
}

.confirmField {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.confirmField span {
  margin-right: 5px;
}

.add2 {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  background-color: #b18d8d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add2:hover {
  background-color: #6a8661;
}

.cancel2 {
  margin-top: 10px;
  width: 80px;
  height: 40px;
  background-color: #b18d8d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.cancel2:hover {
  background-color: #6a8661;
}

.loading-animation {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
